html {
    background-color: #15171e;
    color: antiquewhite;
}
body{
    min-height: 100vh;
    margin:0;
    display: flex;
    flex-direction: column;
}
:root{
    --dark-page-color:#2f3031;
    --block-hover-color:#2f3031;
    --msg-color:#191d39;
}